@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}
.text__main-color {
  color: rgb(0, 123, 255);
}
.btn {
  @apply border-2 bg-blue-500 text-slate-100 p-2  lg:px-3 rounded-2xl  hover:bg-blue-600 ease-in-out duration-300;
}
.bg__main-color {
  background: rgba(0, 123, 255, 0.75);
}
.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.Logo {
  font-family: "Damion", cursive;
  width: 200px;
  height: 50px;
  padding-left: 10px;
  @apply text-4xl;
}
.title {
  @apply font-medium text-xl lg:text-2xl;
}
.h__full {
  height: 100%;
}

.navbar__btn {
  @apply relative  duration-300 hover:scale-110;
}
.agenda {
  @apply w-1/2 h-8 border-2;
}
.agenda__days {
  @apply w-1/6 h-80 border-4;
}
.agenda__dayName {
  width: 14.4%;
}
.agenda__day {
  height: 50%;
}
.closeBtn {
  transition: 0.3s;
}
.closeBtn:hover {
  transform: rotate(30deg);
}

.addBtn {
  @apply border-2 py-1 px-3 rounded-xl;
}
circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 30px;
  stroke-dasharray: 900;
  stroke-dashoffset: 900;
  transition: stroke-dashoffset 1s linear;
}

.outer {
  box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.inner {
  box-shadow:
    inset 4px 4px 10px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0 rgba(255, 255, 255, 1),
    1px 1px 0 rgba(0, 0, 0, 0.15),
    0 12px 10px -10px rgba(0, 0, 0, 0.05);
}
.backgroundShadow {
  background: rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  @apply bg-blue-500;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Kolor tła */
}

.addStudent {
  @apply absolute w-full h-full right-0 top-0 z-10 flex-center;
}
