@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

/* START: General styles */

.title-h1 {
  @apply font-medium text-xl lg:text-2xl p-2;
}
.title-h2 {
  @apply  text-lg font-semibold;
}
.span {
  @apply text-slate-400 text-sm
}
.btn {
  @apply border-2 bg-blue-500 text-slate-100 p-2  lg:px-3 rounded-2xl  hover:bg-blue-600 ease-in-out duration-300;
}
.loading-slate-300{
  @apply bg-slate-300 h-8  rounded-md mb-2
}
.loading-slate-200{
  @apply bg-slate-200 h-4  rounded-md
}
.backgroundShadow{
  background-color: rgba(0, 0, 0, 0.5);
}
.padding-x {
  @apply sm:px-16 px-6;
}
.padding-y {
  @apply py-4;
}
.flex-center {
  @apply flex items-center justify-center;
}
.flex-between {
  @apply flex justify-between items-center;
}
.flex-column{
  @apply flex flex-col
}
.Logo {
  font-family: "Damion", cursive;
  padding-left: 10px;
  @apply text-2xl lg:text-4xl p-2;
}
.font-damion{
  font-family: "Damion", cursive;
}
.closeBtn {
  transition: 0.3s;
}
.closeBtn:hover {
  transform: rotate(30deg);
}
.addBtn {
  @apply border-2 py-1 px-3 rounded-xl;
}
/*ScrollBar styles*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  @apply bg-slate-500;
}
::-webkit-scrollbar-track {
  background-color: #c0c6e0; /* Kolor tła */
}

.addStudent {
  @apply absolute w-full h-full right-0 top-0 z-10 flex-center;
}


/*Agenda styles*/
.agenda{
  height: 60vh;
  @apply bg-slate-50 mt-4
}

.agenda__container{
  @apply flex-column h-full gap-4 p-4 overflow-y-scroll rounded-lg
}


/*Calendar styles*/
.calendar{
  @apply w-full lg:w-10/12 flex lg:justify-between flex-col lg:flex-row  h-3/6
}
.calendar__container{
  @apply shadow-lg rounded-lg border h-fit bg-slate-50 lg:w-9/12
}
.calendarHeader{
  @apply w-full h-10  border-b-[2px] rounded-t-lg bg-blue-500 text-white flex-between padding-y padding-x
}
.calendarDayName{
  width: 14.4%;
  @apply bg-blue-100 text-sm
}
.calendarDate{
  @apply text-sm p-3 w-6 h-6 flex-center
}
.calendarDate__today{
  @apply bg-blue-500 text-white border rounded-full
}
.calendarDate__selected{
  @apply font-semibold border rounded-full  border-current
}
.calendarInfo{
  @apply flex-column h-fit max-h-64 lg:w-3/12 p-2 border-current
}
.calendarInfo__container{
  @apply flex overflow-x-auto  overflow-y-hidden lg:overflow-y-auto w-full lg:flex-col h-20 lg:h-full border-b-2
}
.calendarInfo__box{
  @apply w-32 h-16 p-2 border-r-2 lg:border-none lg:w-full
}

/*Chart styles*/
.chart{
  height: 30%;
  @apply w-full lg:w-9/12 flex-column gap-10
}
/*Progress bar styles*/
.progressBar{
  @apply w-full flex-center min-[1700px]:pt-12
}
circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 25px;
  stroke-dasharray: 800;
  stroke-dashoffset: 900;
  transition: stroke-dashoffset 1s linear;
}
.progressBar__outerCircle {
  box-shadow:
          6px 6px 10px -1px rgba(0, 0, 0, 0.15),
          -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  @apply w-64 h-64 rounded-full flex-center drop-shadow-xl  bg-slate-50
}
.progressBar__innerCircle {
  box-shadow:
          inset 4px 4px 10px -1px rgba(0, 0, 0, 0.2),
          inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
          -0.5px -0.5px 0 rgba(255, 255, 255, 1),
          1px 1px 0 rgba(0, 0, 0, 0.15),
          0 12px 10px -10px rgba(0, 0, 0, 0.05);
  @apply w-52 h-52 rounded-full absolute
}
/*Meeting history styles*/
.meetingHistory{
  z-index: 100;
  @apply flex-column items-center gap-2 w-full h-full lg:my-12 lg:mt-0
}
.meetingHistory__alertBtn{
  @apply text-rose-600 cursor-pointer
}
.meetingHistory__container{
  @apply h-full w-full lg:w-11/12 overflow-y-scroll bg-slate-50 p-2 rounded-lg
}
.meetingHistory__box {
  @apply flex-column gap-2  text-sm lg:text-base
}
.burgerMenu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 70%;
  height: 100%;
  transition: 0.3s;
  @apply bg-slate-200
}

.burgerMenu.show {
  left: 0;
}
.header {
  @apply flex flex-col lg:flex-row lg:justify-between fixed lg:sticky top-0 w-full h-24 lg:h-fit padding-x lg:py-4 bg-slate-700 text-white ease-out duration-300 z-50 
}
.bg-gradient{
  background: linear-gradient(#334155, #7782e3, #334155);
}
.schedule__header{
  @apply flex-between title-h2 p-4 bg-slate-600 text-white text-center lg:shadow-xl rounded-t-lg lg:rounded-none
}
.custom-shape-divider-top-1698576054 {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1698576054 svg {
  position: relative;
  display: block;
  width: calc(116% + 1.3px);
  height: 113px;
}

.custom-shape-divider-top-1698576054 .shape-fill {
  fill: #334155;
}

/*RWD*/
@media (min-width: 1900px) {
  .agenda{
    height: 70vh;
  }
}
@media (min-width: 1536px) {

}