@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  overflow: hidden;
}


/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.Logo{
  font-family: 'Damion', cursive;
  width: 200px;
  height: 50px;
  padding-left: 10px;
  @apply text-4xl
}

.navbar__btn{
  @apply relative  duration-300 hover:scale-110
}
.agenda{
  @apply w-1/2 h-8 border-2
}
.agenda__days{
  @apply w-1/6 h-80 border-4
}
.closeBtn{
  transition: 0.3s;
}
.closeBtn:hover{
  transform: rotate(30deg);
}